//********************************************
//* Project: hz-tooltipstered-image
//* File: page.scss
//* Description:
//*********************************************
/* page.scss */
.hz-page-6611{
    //********************************************
    //* Project: jq-tooltipstered-image
    //* File: main
    //* Description:
    //*********************************************
    /* main */
    @-webkit-keyframes tip {
        0%{
            stroke-opacity: 0.4;
            stroke-width: 2;
        }
        50%{
            stroke-opacity: 1;
            stroke-width: 4;
        }
        100%{
            stroke-opacity: 0.4;
            stroke-width: 2;
        }
    }
    .tooltipstered-image__step{
        /*Override inline properties*/
        stroke: #cb7b00;
        stroke-width: 2;
        stroke-dasharray: 5,5;
        stroke-opacity: 0.4;
        transition:all 400ms ease;
        &.tooltipstered-image__step--current{
            animation:tip 1s linear infinite;
        }
        &.tooltipstered-image__step--completed{
            stroke-dasharray: none;
            stroke: #00ff00;
            stroke-opacity: 0.6;
        }
        &.tooltipstered-image__step--open{
            stroke-opacity: 1;
        }
    }
    .tooltipstered-image{
        width:40%;
    }
    .tooltipstered-image__template{
        display: none;
    }
    .tooltipster-base{
        .tooltipstered-image__template{
            display: inherit;
        }
    }
    /* End main */
}
/* End page.scss */